@import "../core/settings";
@import "../blocks/slider";

.about{
  background-color: #131313;
  height: 660px;
  
  &__inner{

    position: relative;
  }
  
  &__scroll-down{
    display: inline-block;
    padding: 30px 48px;
    background-color: #131313;

    @include font-props("Yeseva One", 14px, 19px, #FFFFFF);
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    span{
      font-size: 29px;
      margin-left: 22px;
    }

    position: absolute;
    top: -85px;
    left: -10px;
    z-index: 1;

    transition: color .1s linear;

    &:hover{
      color: #E3B873;
    }
    
  }

  &__nav{
    width: 100%;
    height: 128px;

    display: flex;
    justify-content: flex-end;

    .navbar{
      height: 100%;
      width: 58.88%; //848

      display: flex;
      align-items: flex-end;
      
      &__item{
        @include font-props("Yeseva One", 14px, 19px, rgba(255, 255, 255, 0.3));
        text-transform: uppercase;
        text-decoration: none; 

        margin: 0 60px 45px 0;
        padding-bottom: 5px;
        border-bottom: 1px solid transparent;

        transition: color .1s linear;
        transition: border-bottom .1s linear;
      }

      &__item:last-child{
        padding-right: 0;
      }

      &__item:hover,
      &__item.active{
        color: #E3B873;
        border-bottom: 1px solid #E3B873;
      }
    }
  }

  &__gallery{
    width: 100%;
    height: 438px;
    display: flex;

    .gallery{
      box-sizing: border-box;
      flex: 1 1 41.12%;
      height: 100%;
      padding-left: 60px;


      &__title{
        @include font-props("Yeseva One", 27px, 37px, #E3B873);
        text-transform: uppercase;
        margin-bottom: 18px;

        span{
          display: block;
        }

        span::after{
          content: '';
          display: inline-block;
          box-sizing: border-box;
          margin-left: 35px;
          margin-bottom: 8px;
          width: 92px;
          height: 1px;
          background: #E3B873; 
        }
      }

      &__description{
        width: 442px;
        @include font-props("FuturaBookC", 18px, 29px, #ffffff);
        margin-bottom: 42px;
        width: 420px;
      }

      &__list{  
        display: flex;
        flex-wrap: wrap;
        width: 370px;

        .list{
          flex: 1 1 50%;
          margin-bottom: 32px;

          &__title{
            @include font-props("Yeseva One", 18px, 25px, #E3B873);
            text-transform: uppercase;
            margin-bottom: 9px;
          }

          &__text{
            @include font-props("FuturaBookC", 15px, 20px, #ffffff);
            width: 100px;
          }
        }
      }
        
    }

    .gallery__photo{
      box-sizing: border-box;
      flex: 3 1 58.88%;
      height: 100%;
      display: flex;

      overflow: hidden;

      position: relative;

      .gallery__frame{
        margin-right: 20px;
      }

      span{
        display: block;
        cursor: pointer;
        width: 54px;
        height: 54px;
        font-size: 18px;
        text-align: center;
        line-height: 3;

        background-color: #E3B873;
        border-radius: 50%;
        box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);

        position: absolute;
        top: 50%;
        margin-top: -27px;
        right: 45px;
        z-index: 2;
      }
    }

  }
}

