@import "../core/settings";

.control{
  background-color: #131313;

  &__inner{
    height: 215px;
    width: 100%;
    position: relative;
  }

  &__video{
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: -409px;
  }

  .icon-play{
    display: block;
    cursor: pointer;
    width: 85px;
    height: 85px;
    font-size: 28px;
    text-align: center;
    line-height: 3;

    background-color: #E3B873;
    border-radius: 50%;

    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -43px;
    z-index: 3;

  }

}