@import "../core/settings";

.control{
  // background-color: $nero;
  background-image: linear-gradient(to bottom,  $nero 50%, $transparent 50%);


  .control__inner{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .control__video{
  }

  .icon-play{
    display: block;
    cursor: pointer;
    width: 85px;
    height: 85px;
    font-size: 28px;
    text-align: center;
    line-height: 3;

    background-color: $maize;
    border-radius: 50%;

    position: absolute;
    top: 40%;
    left: calc(50% - 43px);
    z-index: 3;

    @include transition(background-color);

    &:hover{
      background-color: $maize-dark;
    }
  }


}

@media(max-width: 575px){
  .control{
    background:  $nero 50%;

    .control__video{
      width: 90%;
      height: auto;
    }
    
  }
}