@import "../core/settings";

.control{
  background-color: $nero;

  .control__inner{
    height: 215px;
    width: 100%;
    position: relative;
  }

  .control__video{
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: -409px;
  }

  .icon-play{
    display: block;
    cursor: pointer;
    width: 85px;
    height: 85px;
    font-size: 28px;
    text-align: center;
    line-height: 3;

    background-color: $maize;
    border-radius: 50%;

    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -43px;
    z-index: 3;

    @include transition(background-color);

    &:hover{
      background-color: $maize-dark;
    }
  }


}

@media(max-width: 575px){
  .control{

    &__video{
      box-sizing: border-box;
      width: 90%;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}