@import "../core/settings";

.contacts{
  background-color: $nero-semi-transparent;

  &__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text{
    width: 560px;
    @include font-props('Yeseva One', 20px, 28px, $maize);
    text-transform: uppercase;
    text-align: center;
    padding: 35px 0 25px;

    a{
      text-decoration: none;
      color: inherit;
    }
  }

  &__icon{
    padding-bottom: 50px;

    .icon{
      text-decoration: none;
      span{
        display: inline-block;
        width: 28px;
        height: 28px;
        background-color: $maize;
        border-radius: 50%;
        text-align: center;
        line-height: 2;
        margin-right: 15px;
        font-size: 14px;
      }
  
      span:last-child{
        margin-right: 0;
      }
    }
  }
}