@import "../core/settings";

.fantasy{
  margin-top: 129px;

  .fantasy__inner{
    box-sizing: border-box;
    height: 1100px;
    width: 100%;
    background: url('../../assets/img/bgr-fantasy.jpg') no-repeat center;

    display: flex;
    overflow: hidden;
  }

  .fantasy__list{
    flex: 1 0 33.3333%;
    height: 100%;

    .list__title{
      width: 290px;
      margin: 205px auto 50px;
      @include font-props("Yeseva One", 27px, 37px, $maize, uppercase);
    }

    .list{
      width: max-content;
      margin: 0 0 0 100px;

      .list__item{
        display: block;
        cursor: pointer;
        margin-bottom: 12px;
        @include font-props("ProximaNova", 20px, 34px, $white);
        padding-bottom: 3px;
        border-bottom: 1px solid transparent;
  
        @include transition(color);
        @include transition(border-bottom);

        &:hover,
        &.active{
          color: $maize;
          padding-bottom: 3px;
          border-bottom: 1px solid $maize;
        }
      }     
    }
  }


  .fantasy__gallery{
    flex: 1 0 66.6667%;
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    margin-left: 7%;


    .gallery__col{
      height: 100%;
      flex: 0 0 354px;
      margin-right: 43px;

      overflow: hidden;

      &--item1{
        height: 558px;
        width: 100%;
        padding: 70px 0 40px;

        .col__img{
          height: 100%;
          margin-left: -40%;
        }
      } 

      &--item2{
        height: 350px;
        width: 100%;

        .col__img{
          height: 100%;
        }
      } 

      &--item3{
        height: 275px;
        width: 100%;
        padding-bottom: 40px;

        .col__img{
          height: 100%;
        }
      } 

      &--item4{
        height: 626px;
        width: 100%;

        .col__img{
          height: 100%;
        }
      } 
    }
  }
}