@import "../core/settings";
@import "../blocks/menu";

.intro{
 background-color: $nero;

 &__inner{
   display: flex;
   overflow: hidden;
 }

 .sidebar{
   width: 5.69%;
   height: 80vh;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: -95px;

   .sidebar__text{  //174
    width: 174px;
    display: block;

    text-decoration: none;
    @include font-props('FuturaDemiC', 14px, 16px, $maize, uppercase);

    transform-origin: left top;
    transform: rotate(90deg) translate3d(0px, -50px, 0);

    &::after{
      content: '';
      display: inline-block;
      box-sizing: border-box;
      margin-left: 8px;
      margin-bottom: 3px;
      width: 51px;
      height: 3px;
      background: $maize;    
    }
  }

  }

 .section{
    height: 80vh;
    width: 94.31%;
    flex-shrink: 0;

    .section__inner{
      height: 94.27%;
      background: url('../../assets/img/bgr-intro.png');
      background-size: cover;
    }
  
    .section__main{
      width: 40.35%; //548
      height: 90.1%;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      margin-left: 4.42%; 
    }
  
    .section__title{
      display: block;
      @include font-props('Yeseva One', 40px, 53px, $white, uppercase);
      padding-bottom: 24px;
  
      .title__city{
        color: $maize;
      }
    }
  
    .section__subtitle{
      width: 79.37%;
      @include font-props('FuturaBookC', 22px, 30px, $white);
      padding-bottom: 41px;
    }
  
    .section__btn{
      width: 79.37%; //435
      display: flex;
      justify-content: space-between;
    }
  }  
}


@media(max-width: 575px){
  .intro{
    .sidebar{
      display: none;
    }

    .section{
      width: 100%;
      .section__inner{
        width: 100%;
      }

      .section__main{
        width: 90.4444%;
        margin: 0 auto;
      }
  
      .section__title{
        font-size: 23px;
        line-height: 132.83%;
        padding-bottom: 16px;
      }

      .section__subtitle{
        width: 90%;
        font-size: 18px;
        line-height: 135.84%;
        padding-bottom: 32px;
      }

      .section__btn{
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
    }
  }

}
