@import "../core/settings";
@import "../blocks/menu";

.intro{
 background-color: #131313;

 &__inner{
   display: flex;
   overflow: hidden;
 }

 .sidebar{
   width: 5.69%;
   height: 100vh;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: -95px;

  &__text{  //174
    width: 174px;
    display: block;

    text-decoration: none;
    text-transform: uppercase;
    @include font-props('FuturaDemiC', 14px, 16px, #E3B873);

    transform-origin: left top;
    transform: rotate(90deg) translate3d(0px, -50px, 0);
  }

  &__text::after{
    content: '';
    display: inline-block;
    box-sizing: border-box;
    margin-left: 8px;
    margin-bottom: 3px;
    width: 51px;
    height: 3px;
    background: #E3B873;    
  }
}

 .section{
    height: 100vh;
    width: 94.31%;
    flex-shrink: 0;

    &__inner{
      height: 94.27%;
      background: url('../../assets/img/bgr-intro.png');
      background-size: cover;
    }
  
    &__main{
      width: 40.35%; //548
      height: 90.1%;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      margin-left: 4.42%; 
    }
  
    &__title{
      display: block;
      @include font-props('Yeseva One', 40px, 53px, #FFFFFF);
      text-transform: uppercase;
      padding-bottom: 24px;
  
      span{
        color: #E3B873;
      }
    }
  
    &__subtitle{
      width: 79.37%;
      @include font-props('FuturaBookC', 22px, 30px, #FFFFFF);
      padding-bottom: 41px;
    }
  
    &__btn{
      width: 79.37%; //435
      display: flex;
      justify-content: space-between;
    }
  }  
}

