@import "../core/settings";

.measurer{ 
  margin-top: 315px;
  height: 730px;
  overflow: hidden;

  .measurer__inner{
    height: 705px;
    width: 100%;
    display: flex;
  }

  .measurer__circle{
    height: 100%;
    flex: 1 0 60%;
    background: url('../../assets/img/building.png') no-repeat;

    position: relative;
    
    .circle{
     
      height: 92%;
      width: 74%;
      border-right: 3px solid $maize;
      border-radius: 50%;
      margin-top: 50px;

      position: absolute;
      top: 0;
      left: -17%;
      z-index: 1;

    }

    .circle__item{
      &--first{
        display: flex;
        position: absolute;
        top: 15%;
        left: 42%;
        z-index: 2;
      }

      &--second{
        display: flex;
        position: absolute;
        top: 30%;
        left: 50%;
        z-index: 2;

        .circle__text{
          padding-top: 20px;
        }
      }

      &--third{
        display: flex;
        position: absolute;
        top: 54%;
        left: 53%;
        z-index: 2;

        .circle__text{
          padding-top: 20px;
        }
      }

      &--fourth{
        display: flex;
        position: absolute;
        top: 76%;
        left: 46%;
        z-index: 2;
      }
    }

    .circle__icon{
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: $maize;
      @include font-props('Yeseva One', 18px, 25px, $white);
      margin-right: 10px;
      border: 10px solid $white;
      
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .circle__text{
      width: 390px;
      height: auto;
      padding-top: 10px;
      @include font-props('FuturaMediumC', 18px, 21px, $gondola);
    }
  }

  .measurer__form{
    height: 100%;
    flex: 1 0 40%;
  }

  .measurer__discount{
    margin-top: 5%;
    display: flex;
    justify-content: center;

    .discount__text{
      width: 230px;
      padding-top: 13px;
      @include font-props('FuturaDemiC', 20px, 25px, $maize);
      text-shadow: 0px 3px 10px $maize-quarter-transparent;
    }

    .icon-piggy{
      display: block;
      width: 72px;
      height: 72px;
      background-color: $maize;
      border-radius: 50%;
      font-size: 35px;
      line-height: 2;
      text-align: center;
      margin-right: 25px;
    }
  }
}

