@import "../core/settings";
@import "../core/container";
@import "../core/form";

.request{
  height: 780px;
  width: 100%;
  background-color: #fff;

  &__text{
    display: block;
    margin: 0 auto;
    width: 680px;

    @include font-props('FuturaBookC', 20px, 34px, #363636); 
    text-align: center;
    padding-top: 265px; 
  }

  &__text::before{
    content: "";
    display: block;
    margin: 0 auto;
    width: 54px;

    border-bottom: 2px solid #E3B873;
    margin-bottom: 35px;
  }

  &__form{
    display: flex;
    justify-content: center;
    margin-top: 105px;

   
  }

  .checkbox{
    text-align: center;
    margin-top: 33px;

    .checkbox__name{
      @include font-props('FuturaBookC', 16px, 22px , #181818);
    }

  }

}