@import "../core/settings";

.steps{
  background-color: $nero;

  &__inner{
    width: 100%;
    display: flex;  
  }

  .info{
    margin-top: 280px;
    padding-left: 100px;
    flex: 1 0 31.1074%;

    &__suptitle{
      @include font-props('FuturaDemiC', 15px, 21px, $white);
      text-transform: uppercase;
      padding-bottom: 18px;
    }

    &__title{
      width: 160px;
      @include font-props('Yeseva One', 27px, 37px, $maize);
      text-transform: uppercase;
      padding-bottom: 88px;
    }

    &__number{
      @include font-props('Yeseva One', 18px, 25px, $white);
      text-transform: uppercase;
      padding-bottom: 10px;
    }

    &__title2{
      width: 240px;
      @include font-props('Yeseva One', 15px, 23px, $maize);
      text-transform: uppercase;
      padding-bottom: 16px;
    }

    &__text{
      width: 340px;
      @include font-props('FuturaBookC', 15px, 25px, $white);
    }
  }

  &__picture{
    margin-top: 310px;
    flex: 1 0 60.8926%;
  }

  &__point{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;

    .point{
      flex: 1 1 33.3333%;
      opacity: 0.3;

      &__num{
        width: 16px;
        @include font-props('Yeseva One', 15px, 21px, $white);
        text-transform: uppercase;
        padding-bottom: 2px;
        border-bottom: 1px solid $maize;
      }

      &__text{
        width: 130px;
        @include font-props('FuturaBookC', 15px, 18px, $white);
        padding: 11px 0 30px;
      }
      
    }

    .point:hover,
    .point.active{
      color: $white;
      opacity: 1;
    }
  }

  &__photo{
   display: block;
   width: 91.4444%;
   margin: 25px 0 70px;
  }
}