@import "../core/settings";
@import "../core/container";

.card{
  margin-top: 31px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item{
    box-sizing: border-box;
    width: 33.3333%;
    padding: 0 15px;
  }

  &__inner{
    position: relative;
  }

  &__img{
    display: block;
    margin: 0 auto;
  }

  &__description{
    box-sizing: border-box;
    width: 330px;
    height: 286px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    padding-top: 25px;
    padding-left: 34px;
    
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -165px; 
    z-index: 1;
  }

  &__title{
    @include font-props('Yeseva One', 18px, 25px, #363636);
    margin-bottom: 13px;
  }

  &__list{
    padding-left: 16px; 
  }

  &__list-item{
    list-style-type: disc;
    @include font-props('FuturaBookC', 15px, 25px, #959595);
  }

  &__main{
    box-sizing: border-box;
    @include font-props('Yeseva One', 18px, 25px, #FFFFFF);
    text-transform: uppercase;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    padding: 17px 21px;

    position: absolute;
    bottom: -11%;
    left: 0;
    z-index: 2;
  }
}