@import "../core/settings";


.checkbox,
.checkbox--question{
  text-align: center;
  margin-top: 33px;

  .checkbox__name{
    @include font-props('FuturaBookC', 16px, 22px , #181818);
  }

}

.checkbox--question{
  margin: 0 0 50px;

  .checkbox__name{
    color: white;
  }
}