.icon-piggy{
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #E3B873;
  text-align: center;
  font-size: 40px;
  line-height: 70px;
  margin-left: 35px;
  margin-right: 25px;
}