@import "../core/settings";

.btn{
  cursor: pointer; 
  @include font-props('FuturaBookC', 0.8rem, 1rem, $white, uppercase); 
  border: 0;
  border-radius: 0.1rem;
  
  &--call{
    background-color: $maize;
    padding: 1em 2.5em;
    @include box-shadow(0, 0.3rem, 1rem, $maize-third-transparent);
    @include transition(background-color);
  }

  &--call:hover{
    background-color: $maize-dark;
  }

  &--intro{
    width: 47.58%; //207
    padding: 1.5em 0;
    background-color: transparent;
    border: 0.06rem solid $white;
        
    @include transition(background-color);
    @include transition(border-color);

    &:hover,
    &.active{
      background-color: $maize;
      border-color: transparent;   
    }
  }
}

.btn:focus{
  outline: 0;
}

@media(max-width: 575px){

  .btn{

    &--call{
      display: none;
    }
  
    &--intro{
      width: 100%;
      font-size: 13px;
      line-height: 15px;
    }

    &--intro + &--intro{
      margin-top: 26px;
    }
  }
}