@import "../core/settings";
@import "../core/container";

.card{
  .card__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    box-sizing: border-box;
  }

  .card__item{
    flex: 1 0 33.3333%;  
  }

  .item {
    position: relative;
  
    .item__img{
      display: block;
      margin: 0 auto;
    }

    .item__description{
      box-sizing: border-box;
      width: 65%;
      background-color: $white;
      @include box-shadow(0.6rem, 0.6rem, 1.25rem, $black-semi-transparent);
            
      position: absolute;
      top: 70%;
      left: 50%;
      margin-left: -165px; 
      z-index: 1;
    }

    .description__title{
      @include font-props('Yeseva One', 1.1rem, 1.5rem, $gondola);
      margin: 1.3em 0 0.7em 3em;
    }
  
    .description__item{
      list-style-type: disc;
      @include font-props('FuturaBookC', 0.9rem, 1.5rem, $suva-grey);
      margin-left: 4.6em; 
      &:last-child{
        margin-bottom: 2.3em;
      }
    }

    .description__key{
      box-sizing: border-box;
      @include font-props('Yeseva One', 1.1rem, 1.5rem, $white, uppercase);
      background-color: $maize;
      padding: 1em 1.2em;
      
      position: absolute;
      bottom: -1.6em;
      left: 0;
      z-index: 2;

      @include box-shadow(0.3rem, 0.3rem, 0.6rem, $maize-third-transparent);
    }
  }  

  &--design{
    background-image: linear-gradient(to bottom, $transparent 50%, $nero 50%);
  }

  &--team{
    background-image: linear-gradient(to bottom, $nero  50%,  $transparent 50%);
    margin-bottom: 7%;
  
    .item__icon{
      width: 70px;
      height: 70px;
      background-color: $maize;
      @include box-shadow(0px, 5px, 20px, $maize-semi-transparent);
  
      font-size: 2.7rem;
      line-height: 4.4rem;
      text-align: center;
  
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -3.8em;
      margin-top: -0.8em;
      z-index: 3;
    }
  
    .item__description--team{
      width: 50%;
      box-sizing: border-box;
      background-color: $white;
      @include box-shadow(0.6rem, 0.6rem, 1.25rem, $black-semi-transparent);
      padding: 25px 0 35px;
            
      position: absolute;
      top: 80%;
      left: 25%;
      z-index: 2;

    
  
      .description__title{
        text-align: center;
        margin: 0 0 0.2em 0;
      }
  
      .description__text{
        text-align: center;
        @include font-props('FuturaBookC', 1.1rem, 1.6rem, $suva-grey);
      }
  
      .description__key{
        width: 100%;
        @include font-props('Yeseva One', 0.8rem, 1.25rem, $white, uppercase);
        padding: 0.7em 1.6em;
        bottom: -1.6em;
        text-align: center;
      }
    }
  }
}

@media(max-width: 575px){
  .card{
    .item {  
      .item__img{
        margin: 0 auto 12em;
      }
    }

    &--design{
      background-color: $nero;

      .item{

        .item__description{
          top: 65%;
          left: 11%;
          margin-left: 0;
        }
      }

    }

    &--team{
      background-color: $nero;
      margin-bottom: 0;
      .item {  
        .item__img{
          margin: 0 auto 8em;
        }
      }
    }

  }

  
}