@import "../core/settings";
@import "../core/container";

.card{
  &__inner{
    margin-top: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    box-sizing: border-box;
  }

  &__item{
    flex: 1 0 33.3333%;  
  }

  .item {
    position: relative;
  
    &__img{
      display: block;
      margin: 0 auto;
    }

    &__description{
      box-sizing: border-box;
      width: 330px;
      min-height: 286px;
      background-color: #fff;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
      padding: 25px 0 55px 34px;
            
      position: absolute;
      top: 70%;
      left: 50%;
      margin-left: -165px; 
      z-index: 1;
    }

    .description__title{
      @include font-props('Yeseva One', 18px, 25px, #363636);
      margin-bottom: 13px;
    }
  
    .description__list{
      padding-left: 16px; 
    }
  
    .description__item{
      list-style-type: disc;
      @include font-props('FuturaBookC', 15px, 25px, #959595);
    }

    .description__key{
      box-sizing: border-box;
      @include font-props('Yeseva One', 18px, 25px, #FFFFFF);
      text-transform: uppercase;
      background-color: #E3B873;
      box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
      padding: 17px 21px;
  
      position: absolute;
      bottom: -30px;
      left: 0;
      z-index: 2;
    }
  }  
}