@import "../core/settings";


.checkbox,
.checkbox--question{
  text-align: center;
  margin: 33px 0 145px; 

  .checkbox__name{
    @include font-props('FuturaBookC', 16px, 22px , $nero-lighter);
  }

}

.checkbox--question{
  margin: 0 0 50px;

  .checkbox__name{
    color: $white;
  }
}

input[type='checkbox']{
  display: none;
}

input[type='checkbox'] + label{
  padding-left: 20px;  
}

input[type='checkbox'] + label::before{
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid $maize;
  vertical-align: middle;
  margin-right: 9px;

  transition: background-image .2s linear;
}

input[type='checkbox']:checked + label::before{
  background: url('../../assets/img/check.png') 0px 2px no-repeat, $maize;
  background-size: 16px auto;

}

// icon-check