@import "../core/settings";


.checkbox,
.checkbox--question{
  text-align: center;
  padding: 2em 0 4.4em; 

  .checkbox__name{
    @include font-props('FuturaBookC', 1rem, 1.4rem , $nero-lighter);
  }

}

.checkbox--question{
  margin: 0 0 50px;

  .checkbox__name{
    color: $white;
  }
}

input[type='checkbox']{
  display: none;
}

input[type='checkbox'] + label{
  padding-left: 20px;  
}

input[type='checkbox'] + label::before{
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid $maize;
  vertical-align: middle;
  margin-right: 9px;

  @include transition(background-image);
  
}

input[type='checkbox']:checked + label::before{
  background: url('../../assets/img/check.png') 0px 2px no-repeat, $maize;
  background-size: 16px auto;

}

@media(max-width: 575px){
  .checkbox{
    background-color: $nero;
    padding: 2em 0 4em;
    
    .checkbox__name{
      font-size: 1rem;
      line-height: 1.3rem;
      color: $white;

    }
  }

  .checkbox--question{
    margin: 0;
    padding: 0 0 3em 2em;
    text-align: left;
  }
}

// icon-check