@import "../core/settings";

.client-card{
  .client-card__inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .client-card__item{
    flex: 1 1 33.3333%;
  }

  .item{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 376px;
    background: $white;
    @include box-shadow(0px, 10px, 50px, $black-semi-transparent);
    padding: 41px 32px 90px 20px;
    box-sizing: border-box;
    position: relative;

    .item__info{
      display: flex;
      align-items: center;
      padding-bottom: 20px;
    }

    .item__photo{
      display: block;
      width: 76px;
      height: 76px;
      border-radius: 50%;
      overflow: hidden;
    }

    .item__name{
      @include font-props('Yeseva One', 18px, 23px, $nero-lighter);
      width: 178px;
      margin-left: 23px;
    }

    .item__text{
      @include font-props('FuturaBookC', 15px, 27px, $suva-grey);
      width: 325px;
      margin: 0 auto;  
    }

    .item__key{
      text-transform: uppercase;
      background-color: $maize;
      position: absolute;
      bottom: -30px;
      left: 0;
      display: flex;

      .key__size{
        border-right: 1px solid $white;
      }

      .key__size,
      .key__day{
        @include font-props('Yeseva One', 17px, 24px, $white, uppercase);
        padding: 10px 23px;

        .icon-area,
        .icon-calendar{
          font-size: 30px;
          vertical-align: middle;
        }
      }
    }

  }

}

@media(max-width: 575px){
  .client-card{
    display: none;
  }
}