@import "../core/settings";
@import "../blocks/btn";

.menu{
  padding: 24px 0;
  background-color: $nero;

  display: flex;
  justify-content: space-between;
  align-items: center;


  &__logo{
    @include font-props('FuturaDemiC', 14px, 16px, $maize, uppercase);
    text-decoration: none; 
    cursor: pointer; 
  }

  .nav{
    display: flex;
    justify-content: space-between;

    &__link{
      @include font-props('FuturaBookC', 14px, 16px, $white, uppercase); 
      text-decoration: none;
      margin-right: 47px;
    }

    &__link:last-child{
      margin-right: 0;
    }

    &__link:hover,
    &__link.active{
      color: $maize;
      cursor: pointer;
    }
  }

  &__contacts{   
    margin-right: 5.69%;

    .contacts__link{
      @include font-props('FuturaDemiC', 14px, 16px, $maize, uppercase); 
      text-decoration: none;
      margin-right: 45px;

      transition: border-bottom .1s linear; 
    }

    .contacts__link:hover{
      border-bottom: 1px solid $maize;
    }

  }
}

.menu--footer{
  background-color: $nero; 

  .menu__logo{
    margin-left: 5.69%;
  }
}

@media(max-width: 575px){
  .menu{
    .nav{
      display: none;
    }

    &__contacts{
      margin-right: 0;

      .contacts__link{
        margin-right: 0;
      }
    }
  }
}