@import "../core/settings";
@import "../blocks/btn";

.menu{
  padding: 24px 0;
  background-color: #131313;

  display: flex;
  justify-content: space-between;
  align-items: center;


  &__logo{
    @include font-props('FuturaDemiC', 14px, 16px, #E3B873);
    text-transform: uppercase; 
    cursor: pointer; 
  }

  .nav{
    display: flex;
    justify-content: space-between;

    &__link{
      @include font-props('FuturaBookC', 14px, 16px, #FFFFFF); 
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 47px;
    }

    &__link:last-child{
      margin-right: 0;
    }

    &__link:hover,
    &__link.active{
      color: #E3B873;
      cursor: pointer;
    }
  }

  &__contacts{   
    width: 32.17%;  //437px

    .contacts__link{
      @include font-props('FuturaDemiC', 14px, 16px, #E3B873); 
      text-decoration: underline;
      text-transform: uppercase;

      margin-right: 45px;
    }

  }
}

.menu--footer{
  background-color: #131313;

  .menu__contacts{   
    width: auto;
  }  
}