@import "../core/settings";


.paragraph{
  .paragraph__text{
    display: block;
    margin: 0 auto;
    max-width: 680px;
  
    @include font-props('FuturaBookC', 20px, 34px, $gondola); 
    text-align: center;
    padding-top: 5%; 

    &::before{
      content: "";
      display: block;
      margin: 0 auto;
      width: 54px;
    
      border-bottom: 2px solid $maize;
      margin-bottom: 35px;
    }
  }
  
  &--team{
    .paragraph__text{
      padding: 0;

      &::before{
        margin-bottom: 10px;
      }
    } 
  }
}

@media(max-width: 575px){
  .paragraph{
    background:  $nero 50%;
    .paragraph__text{
      max-width: 350px;
      @include font-props('FuturaBookC', 0.8rem, 1.5rem, $white)
    }

    &--team{
      display: none;
    }
  }
}
