@import "../core/settings";


.gallery__slider,
.gallery__slider--steps{
  display: flex;
  align-items: center;
  margin-top: 2%;

  span{
    display: inline-block;
    cursor: pointer;

    font-size: 1rem;
    margin-left: 0.75em;
  }
  .circle{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $third-transparent;
    margin-right: 1em;

    cursor: pointer;
  }

  .circle.active{
    background: $white;
  }

  .rotate-arrow{
    transform: rotate(180deg);
    margin-right: 1.8em;
    margin-left: 0;
  }
}

.gallery__slider--steps{
  margin-top: 30%;
}

@media(max-width: 575px){
  .gallery__slider,
  .gallery__slider--steps{
    display: none;
  }
}