@import "../core/settings";

.title{

  background-color: $white;

  .title__inner{
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &--project{
      margin-top: 30px;
    }
  
    &-clients{
      .title__subtitle{
        padding-bottom: 25px;
      }
    }
  }

  .title__title{
    @include font-props('Yeseva One', 20px, 28px, $nero-lighter, uppercase);
  }
  
  .title__icon{
    font-size: 30px;
    margin: 13px 0 20px;
  }
  
  .title__subtitle{
    width: 670px;
    padding-bottom: 40px;
    text-align: center;
    @include font-props('FuturaBookC', 20px, 27px, $gondola);

    &--team{
      padding-bottom: 80px;
    }
  }


  &--black{
    background-color: $nero;

    .title__title,
    .title__subtitle{
      color: $white;
    }

    .title__inner{  
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

