@import "../core/settings";

.title{

  background-color: $white;

  .title__inner{
    padding-top: 5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    &--project{
      padding-top: 2em;
  
    }

    &--team{
      padding-top: 1.5em;
    }
  
    .title__inner-clients{
      .title__subtitle{
        padding-bottom: 25px;
      }
    }
  }

  .title__title{
    @include font-props('Yeseva One', 1.2rem, 1.7rem, $nero-lighter, uppercase);
  }
  
  .title__icon{
    font-size: 1.8rem;
    margin: 0.4em 0 1em;
  }
  
  .title__subtitle{
    width: 670px;
    padding-bottom: 40px;
    text-align: center;
    @include font-props('FuturaBookC', 20px, 27px, $gondola);

    &--team{
      padding-bottom: 80px;
    }
  }


  &--black{
    background-color: $nero;

    .title__title,
    .title__subtitle{
      color: $white;
    }

    .title__inner{  
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}


@media(max-width: 575px){
  .title{

    .title__inner--project{
  
      background-color: $nero;
      
      .title__title{
        color: $white;
        font-size: 1.3rem;
        line-height: 1.8rem;
  
      }
  
      .title__subtitle{
        max-width: 330px;
        padding-bottom: 2em;
        text-align: center;
        @include font-props('FuturaBookC', 0.9rem, 1.2rem, $white);
      }
    }
  
    .title__inner--team{
      padding-top: 6em;

      .title__subtitle{
        font-size: 0.9rem;
        line-height: 1.2rem;
        max-width: 340px;
      }
    }
  }

  .title__clients{
    display: none;
  }
}
